*.iml
.gradle
keystore.properties
local.properties
auth.properties
FolkPatch
.idea
.DS_Store
build
captures
.cxx
key.jks
key.jks.base64.txt
.vscode
.kotlin
app/src/main/resources/
private
build.py
.claude